.page{
  background-image: url('https://www.thebanker.com/var/ezflow_site/storage/images/media/images/digital-currency-bank/12654475-1-eng-GB/Digital-currency-bank.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 850px;
  font-family: 'Numans', sans-serif;
}
